<p>If you need to know what the most efficient change you can receive back in coins is, a number below!</p>

<form action="/output" method="get">
  <div class="form-group">
    <label for="userInput">Enter a number, any number!</label>
    <input id="userInput" name="userInput" class="form-control" type="text">
  </div>


  <button id="submit" type="submit" class="btn btn-success">Calculate!</button>
</form>
